//variables 

$Champagne: #eee9d3;
$Darkblue: #352c05;
$Desertsub: #3d3c06;
$redrose: #ee6f1b;
$secondGreen: #8f8f0e;

//globals 

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1,
h2,
h3{
    font-family: 'Hepta Slab', serif;
}
img{
    border-radius: 5px;
}
body{
    display: block;
    max-width: 100%;
    line-height: 1.6;
    font-size: 1.3125rem;
    font-family: 'Quicksand', sans-serif;
    background-color: $Champagne;
    color: $Darkblue;
    display: block;
}

.Project_wrapper{
    background-color: $Desertsub;
    color: $Champagne;
   
}

//layout formatting
.project{
    padding-block-end: 3.5rem;
}
h2{
    padding-block-start: 2rem;
    margin-block-end: 2rem;
    border-bottom: solid 2px $secondGreen;
    max-width: 4rem;
}
.margin_bottom{
    margin-bottom: 1.5rem;
}

.front_page{
    text-align: center;
    justify-content: center;
    position: relative;
}

.Logo{
    max-width: 100%;
}

.pro_img{
    max-width: 100%;
    border: solid 2px $Darkblue;
}

.flex{
    display: flex;
}
.vert_center{
    justify-content: space-evenly;
    justify-items: end;
}

.container{
    position: relative;
    padding-inline: 1.5rem;
}
.intro_list{
    width: 9rem;
    margin-inline: auto;
    margin-bottom: 2.5rem;
}
.contact_list{
    margin: 0 auto;
    justify-content: space-evenly;
}
.project_btn{
    max-height: 3rem;
}

//button styles

.button{
    font-weight: 600;
    cursor: pointer;
    background-color: $Desertsub;
    align-items: center;
    width: 9rem;
    border-radius: 50px;
    justify-content: center;
    padding: .5rem 2rem;
    margin-bottom: .6rem;
    border: solid 1.5px $Desertsub;
    transition: 0.5s;
    a{
        color: $Champagne;
    }
}

.button:hover{
    background-color: $Champagne;
    a{
        color: $redrose;
    }
}

.icon{
    font-size: 3rem;
    transition: 0.5s;
    a{
        color: $Desertsub;
    }
}
.icon:hover{
    a{
        color: $redrose;
    }
}
.icon2{
    text-align: center;
    font-size: 3rem;
    transition: 0.5s;
    a{
        color: $Champagne;
    }
}
.icon2:hover{
    a{
        color: $redrose;
    }
}
.visit{
    font-weight: 600;
    cursor: pointer;
    background-color: $Champagne;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    border: solid 1.5px $Champagne;
    transition: 0.5s;
    a{
        color: $Desertsub;
    }
}
.pro_img:hover{
    opacity: .7;
    border:solid 2px$redrose;
}